*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

header{
    height: 500px;
    width: 100%;
    position: relative;
    background-image: url(../img/jumbo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
/* navbar */
  section img{
     position: absolute;
     width: 100px;
     height: 100%;
     left: 10vw;
     top: 3vh;
 }
section > button{
    position: absolute;
    right: 150px;
    top: 30px;
    border: 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: oldlace;
    font-size: 10px;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

 nav{
    position: fixed;
    width: 100%;
 }

 nav ul{
     width: 100%;
     list-style: none;
     margin-top: 30px;
     text-align: center;
 }
   
   nav ul li{
       display: inline;
       padding: 20px;
   }

 nav li a{
     text-decoration: none;
     color: white;
 }

 .text{
    position: absolute;
    top: 30vh;
    left: 40vh;
    bottom: 50vh;
    text-align: center; 
 }

 #button1{
    border: 20px;
    border-radius: 25px;
    padding: 15px;
    background-color: oldlace;
    font-size: 15px;
    vertical-align: ;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#button::after{
    content: "\2193";
}

#button2{
    border: 20px;
    border-radius: 25px;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    font-size: 15px;
    color: white;
    margin-left: 10px;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif; 
}

 header p{
     font-size: 20px;
     padding: 10px;
     color: white;  
 }

 header h3{
    font-size: 40px;
    padding: 10px;
    color: white;  
}
main{
    width: 300vh;
    margin-top: 20vh;
}

.main-section img{
    position: relative;
    width: 100vh;
    margin-top: 30vh;
    vertical-align: middle;
    
} 