*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

header{
    height: 100vh;
    width: 100%;
}
 header:first-child img{
     display: inline;
     width: 20px;
     height: 20px;
 }
 header:last-child img{
     position: absolute;
     width: 100%;
     height: 100%;
     object-fit: contain;
 }

 nav li{
     position: fixed;
     display: inline;
     text-align: center;
     width: 100%;

 }

 nav li a{
     padding: 20px;
 }